$bgcolor:whitesmoke;
$negro:black;
$blanco:white;
$greytext:#333;
$background:lightgrey;
$grey:#2f2a2a;

body{background: $bgcolor;}

// @mixin header( $blanco,$negro) {
//     background-color:$blanco;
//     color: $negro;
// }

// header{
//    @include header($blanco,black);
// }
.carrousel-text{
    color:white;
}
.carrousel-text-title{
    color: white;
}
.carrousel-texto{
    background: rgba(0,0,0,0.5);
}
header{
    background-color:#FFF;
    box-shadow: 2px 10px 10px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 2px 10px 10px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 2px 10px 10px 0px rgba(0,0,0,0.12);
 }
.menu a{
    color: $negro;
}
.esconder-menu{
    color: $negro;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
   color:$background;
}
#iconos{
    background: $bgcolor;
    color: $negro;
}
.footer{
    background:#EBEBEA;
    color: #6d6e71;

   &__container2{
        background:#2f2a2a ;
        color: $blanco;

     }
}
.card{box-shadow: 0 2px 25px 0 rgba(30, 37, 63, 0.18) ;}


.btn-link{color: #000!important;}
.btn-link:after{background-color: #D2D2D0; }
.btn-link::before{ background: $bgcolor;}
.card-body{background: #D2D2D0;}
th, td { border-bottom: 1px solid black;}

.contact__container{
   
       &__form { 
          background: #e6e6e6;

            &__first{ 
             background: linear-gradient(45deg, rgba(0,0,0,0.8),rgba(0,0,0,0.8)), grey;
               &__info{
                    &__title{
                        &__p--color{
                            color: #333;
                        }
                        &__p{
                            color:#B59B9A;
                        }
                        &__subtitle{
                         color: #F2E7F8;
                        }
                    }
                } 
            }
               &__sec{
                 
                   &__title{
                       color: $greytext;
                    }
                   &__formulario{
                 
                        &__group * { 
                         border: 1px solid #e6e6e6;
                                &__label{
                                    border: 1px solid #e6e6e6;
                                    color: $greytext;
                                }
                                input::placeholder,
                                textarea::placeholder{
                                   color:$greytext;
                               }
                        }
                        button{
                            color:$blanco;
                            background-color:#282727;
                        }
                        button:hover{
                            background:$blanco;
                            color: $negro;
                        }
                           
                    }
                }
       }
}





.login__container{
    &__info { 
        
        &__inputs{
            &__input:hover{ border: 2px solid $background;}

            &__login-btn{
                color:$blanco;
                background-color:#282727;
            }
            &__login-btn:hover{ 
                background-color: $blanco; 
                color: $negro;
            }
            &__p{ 
                &__a{ color: #6d6e71;}
                &__span{ color: #6d6e71;}
            }
        }
    
    
    }

}



