$fontFamily: 'Montserrat', sans-serif;

*{
   font-family: $fontFamily;
}
.carrousel-text{
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 3px;
   font-size: 20px;
   font-weight: normal;
}
.carrousel-text-title{
   font-family: 'Bebas Neue', cursive;
   font-weight: bold;
   letter-spacing: 3px;
   font-size: 28px;
}
.iconos{
           &__contenido {
               &__img{
                  &__p{
                     font-size: 16px;
                     font-weight: 800;
                 }
               }
            }
}

   .footer{
          &__container{
             &__column1{
                  &__info{
                      font-size: 18px;
                     font-weight: bold;
                   }
                   &__p{
                     font-size: 12px;
                    }
                }
           
                  
             &__column2 {
                      &__info{
                                 font-size: 18px;
                                 font-weight: bold;
                      }
                }
                  
       
             
            }

     &__container2{
         font-size: 12px;
         font-weight: bold;
      }
   }
       .card__container{
                      &__body{
                           &__figure{

                            &__content{
                                 &__name {
                                    &__title{
                                       font-size: 20px;
                                       font-weight: 500;
                                    }
                                 }
                                   &__precio {
                                      &__subtitle{
                                        font-size: 14px;
                                       }
                                    }
                              }
                          }
                        } 
          }

